.std {
  overflow: hidden;

  .main__up {
    background: #ffffff;
    margin: 30px 15px;
    border-radius: 5px;
    padding: 15px;
  }

  .table {
    margin: 40px auto;
    width: 100%;
    padding: 15px;
  }
}
