.ssss1 {
  overflow: hidden;
  .main__up {
    background: #ffffff;
    margin: 30px 15px;
    border-radius: 5px;
    padding: 15px;
  }
  .down1 {
    display: flex;
    align-items: self-start;
    margin-top: 80px;
    gap: 30px;
    margin: 40px auto;
    width: 100%;
    height: 80vh;
    padding: 15px;
    .d-cards {
      display: flex;
      align-items: center;
      gap: 20px;

      flex-wrap: wrap;
      .d-card {
        width: 370px;
        height: 220px;
        background: #fff;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.4s ease-in;
        &:hover {
          -webkit-box-shadow: 0px 0px 40px 12px rgba(255, 255, 255, 0.13);
          -moz-box-shadow: 0px 0px 40px 12px rgba(255, 255, 255, 0.13);
          box-shadow: 0px 0px 40px 12px rgba(255, 255, 255, 0.17);
        }
      }

      .count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
      }

      .card1 {
        padding: 0 20px;
        h3 {
          color: #00e1ff;
          font-family: Saira-Bold;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 70px;
          letter-spacing: -1.35px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.123);
        }

        i {
          font-size: 54px;
          color: #00e1ff;
          font-family: Saira-Bold;
        }

        p {
          font-size: 54px;
          color: #00e1ff;
          font-family: Saira-Bold;
        }
      }

      .card2 {
        padding: 0 20px;
        h3 {
          color: #ffe600;
          font-family: Saira-Bold;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 70px;
          letter-spacing: -1.35px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.123);
        }

        i {
          font-size: 54px;
          color: #ffe600;
          font-family: Saira-Bold;
        }

        p {
          font-size: 54px;
          color: #ffe600;
          font-family: Saira-Bold;
        }
      }

      .card3 {
        padding: 0 20px;
        h3 {
          color: #026d22;
          font-family: Saira-Bold;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 70px;
          letter-spacing: -1.35px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.123);
        }

        i {
          font-size: 54px;
          color: #026d22;
          font-family: Saira-Bold;
        }

        p {
          font-size: 54px;
          color: #026d22;
          font-family: Saira-Bold;
        }
      }

      .card4 {
        padding: 0 20px;
        h3 {
          color: #860606;
          font-family: Saira-Bold;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 70px;
          letter-spacing: -1.35px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.123);
        }

        i {
          font-size: 54px;
          color: #860606;
          font-family: Saira-Bold;
        }

        p {
          font-size: 54px;
          color: #860606;
          font-family: Saira-Bold;
        }
      }

      .card5 {
        padding: 0 20px;
        h3 {
          color: #0004ff;
          font-family: Saira-Bold;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 70px;
          letter-spacing: -1.35px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.123);
        }

        i {
          font-size: 54px;
          color: #0004ff;
          font-family: Saira-Bold;
        }

        p {
          font-size: 54px;
          color: #0004ff;
          font-family: Saira-Bold;
        }
      }

      .card6 {
        padding: 0 20px;
        h3 {
          color: #6d6d6d;
          font-family: Saira-Bold;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 70px;
          letter-spacing: -1.35px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.123);
        }

        i {
          font-size: 54px;
          color: #6d6d6d;
          font-family: Saira-Bold;
        }

        p {
          font-size: 54px;
          color: #6d6d6d;
          font-family: Saira-Bold;
        }
      }

      .card7 {
        padding: 0 20px;
        h3 {
          color: #0004ff;
          font-family: Saira-Bold;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 70px;
          letter-spacing: -1.35px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.123);
        }

        i {
          font-size: 54px;
          color: #0004ff;
          font-family: Saira-Bold;
        }

        p {
          font-size: 54px;
          color: #0004ff;
          font-family: Saira-Bold;
        }
      }
    }
  }
}
