.learnsvg {
  width: 80px;
  height: 80px;
}
.graduatesvg {
  width: 80px;
  height: 80px;
}
.worksvg {
  width: 80px;
  height: 80px;
}
@media only screen and (max-width: 1500px) {
  .learnsvg {
    width: 75px;
    height: 75px;
  }
  .graduatesvg {
    width: 75px;
    height: 75px;
  }
  .worksvg {
    width: 75px;
    height: 75px;
  }
}
@media only screen and (max-width: 1300px) {
  .learnsvg {
    width: 70px;
    height: 70px;
  }
  .graduatesvg {
    width: 70px;
    height: 70px;
  }
  .worksvg {
    width: 70px;
    height: 70px;
  }
}
@media only screen and (max-width: 1100px) {
  .learnsvg {
    width: 65px;
    height: 65px;
  }
  .graduatesvg {
    width: 65px;
    height: 65px;
  }
  .worksvg {
    width: 65px;
    height: 65px;
  }
}
@media only screen and (max-width: 900px) {
  .learnsvg {
    width: 60px;
    height: 60px;
  }
  .graduatesvg {
    width: 60px;
    height: 60px;
  }
  .worksvg {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 700px) {
  .learnsvg {
    width: 57px;
    height: 57px;
  }
  .graduatesvg {
    width: 57px;
    height: 57px;
  }
  .worksvg {
    width: 57px;
    height: 57px;
  }
}
@media only screen and (max-width: 500px) {
  .learnsvg {
    width: 53px;
    height: 53px;
  }
  .graduatesvg {
    width: 53px;
    height: 53px;
  }
  .worksvg {
    width: 53px;
    height: 53px;
  }
}
@media only screen and (max-width: 400px) {
  .learnsvg {
    width: 50px;
    height: 50px;
  }
  .graduatesvg {
    width: 50px;
    height: 50px;
  }
  .worksvg {
    width: 50px;
    height: 50px;
  }
}
