
@media only screen and (max-width: 1617px) {
  .icon {
    margin-left: 600px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    gap: 20px;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}

@media only screen and (max-width: 1503px) {
  .icon {
    margin-left: 550px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}
@media only screen and (max-width: 1450px) {
  .icon {
    margin-left: 550px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}

@media only screen and (max-width: 1405px) {
  .icon {
    margin-left: 500px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}

@media only screen and (max-width: 1383px) {
  .icon {
    margin-left: 500px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}

@media only screen and (max-width: 1350px) {
  .icon {
    margin-left: 500px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .icon {
    margin-left: 500px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}
@media only screen and (max-width: 1183px) {
  .icon {
    margin-left: 400px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}
@media only screen and (max-width: 1350px) {
  .icon {
    margin-left: 300px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}
@media only screen and (max-width: 850px) {
  .icon {
    margin-left: 230px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .icon {
    margin-left: 200px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}
@media only screen and (max-width: 675px) {
  .icon {
    margin-left: 180px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}
@media only screen and (max-width: 625px) {
  .icon {
    margin-left: 100px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .icon {
    margin-left: 80px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}
@media only screen and (max-width: 475px) {
  .icon {
    margin-left: 40px;
    margin-top: 0;
  }

  .flex {
    flex-wrap: wrap;
    .card {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 50px;
      }
    }
    .card2 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card3 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 45px;
      }
    }
    .card4 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 35px;
      }
    }
    .card5 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
    .card6 {
      width: 220px;
      height: 342px;
      img {
        margin-left: 65px;
      }
      h2 {
        margin-left: 60px;
      }
    }
  }
}
@media only screen and (max-width: 430px) {
  .icon {
    width: 350px;
    margin-left: 20px;
    margin-top: 0;
  }
  .tepa {
    width: 350px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 390px) {
  .icon {
    width: 350px;
    margin-left: 5px;
    margin-top: 0;
  }
  .tepa {
    width: 350px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 375px) {
  .icon {
    width: 300px;
    margin-left: 20px;
    margin-top: 0;
  }
  .tepa {
    width: 350px;
    font-size: 14px;
  }

  .flex {
    margin-top: 40px;
  }
}
