.ssss {
  overflow: hidden;
}

.head {
  -webkit-box-shadow: 0px 18px 9px -7px rgba(34, 60, 80, 0.17);
  -moz-box-shadow: 0px 18px 9px -7px rgba(34, 60, 80, 0.17);
  box-shadow: 0px 18px 9px -7px rgba(34, 60, 80, 0.17);
  a {
    color: #000;
    font-family: Rowdies-Bold;
    font-size: 48px;
  }

  .login {
    button {
      padding: 4px;

      &:hover {
        background: #00000031;
        border-radius: 15px;
      }
    }

    .user {
      padding: 4px;
      cursor: pointer;
    }
  }
}

.down {
  display: flex;
  align-items: self-start;
  margin-top: 80px;
  gap: 30px;

  background: rgba(255, 255, 255, 0.11);
  .sidebar {
    padding: 40px 2px;
    width: 300px;
    -webkit-box-shadow: 18px 0px 9px -7px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: 18px 0px 9px -7px rgba(34, 60, 80, 0.17);
    box-shadow: 18px 0px 9px -7px rgba(34, 60, 80, 0.17);
    height: 91vh;
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        .nav__link {
          display: flex;
          align-items: center;
          gap: 20px;
          background: #1313132c;
          height: 40px;
          width: 100%;
          padding: 4px 12px;
          border-radius: 15px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          p {
            color: #1b2336;
            font-family: Saira-Medium;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  main {
    margin: 30px auto;
    width: 100%;
    height: 80vh;
    padding: 15px;
    .outlet {
      background: #0000001c;
      border-radius: 5px;
    }
  }
}

.active {
  background: #000000ea !important;
  p {
    color: #fff !important;
  }

  i {
    color: #fff !important;
  }
}
